- # SPDX-FileCopyrightText: Copyright (c) 2018-2025 Yegor Bugayenko
- # SPDX-License-Identifier: MIT

%h2
  API

%p
  Your API authorization code is:

%p
  %code= auth_code

%p
  The API is explained in the
  = succeed '.' do
    %a{ href: 'https://github.com/yegor256/mailanes/blob/master/README.md' } README
