%h2
  API

%p
  Your API authorization code is:

%p
  %code= auth_code

%p
  The API is explained in the
  = succeed '.' do
    %a{ href: 'https://github.com/yegor256/mailanes/blob/master/README.md' } README
