-# SPDX-FileCopyrightText: Copyright (c) 2018-2025 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

%p
  This is a simple email sending web app.

%p
  This blog post explains how it works:
  %a{ href: 'https://www.yegor256.com/2018/10/30/mailanes.html' } Mailanes.com Helps Manage Newsletters and Mailing Lists

%p
  The service is free for everybody.
