%h2
  Lanes

%form{ method: 'POST', action: iri.cut('/add-lane') }
  %input{ type: 'text', name: 'title', placeholder: 'Lane title...', size: 45, required: 'true', autocomplete: 'off' }
  %input{ type: 'submit', value: 'Add' }

%p
  All your lanes:

- lanes.all.each do |lane|
  %p
    = succeed ':' do
      %a{ href: iri.cut('/lane').add(id: lane.id) }= "##{lane.id}"
    = lane.title

