---
name: rake
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    name: test
    strategy:
      matrix:
        os: [ubuntu-20.04]
        ruby: [2.6]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - run: |
          sudo apt-get update
          sudo apt-get install -y postgresql-14
          sudo ln -s /usr/lib/postgresql/14/bin/initdb /bin/initdb
          sudo ln -s /usr/lib/postgresql/14/bin/postgres /bin/postgres
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - run: bundle update
      - run: bundle exec rake
